.form-url-input .form-group label:not(.horizontal){
	display: block;
}

.btn-add-url {
	width: 100%;
}

.flex {
	label {
		margin-right: 15px;
		line-height: 30px;
	}
	display: flex;
}

.link-group {
	a {
		display: block;
		width: 100%;
		text-align: center;
	}
}